body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f406b9;
    color: #fdfdfd;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    padding-top: 0px;
    
}

header {
    background: transparent;
    backdrop-filter: blur(20px);
    border: 2px solid #ec918e;
}

.Carrusel {
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
}

.imgref{
    width: 300px;
    height: 300px;
}

.Elemento{
    flex: 1 0 auto;
    margin: 0 50px;
    background-color: #ff1111;
    width: 300px;
    height: 300px;
}